global-include *.pyx
global-include *.pxd
include package/tests/test_data/ome.xsd.xml
include package/tests/test_data/napari_measurements_profile.json
include package/tests/test_data/notebook/*.json
include package/tests/test_data/old_saves/*/*/*.json
include package/tests/test_data/sample_batch_output.xlsx
include package/tests/test_data/problematic_excel_batch.xlsx
include package/PartSeg/napari.yaml
include Readme.md
include changelog.md
include pyproject.toml
include requirements/*
include .napari/*
include CITATION.cff
recursive-include package *.py
include package/tests/test_data/*.json
exclude .tox/**
exclude .dependabot/*
exclude .github/**
exclude tutorials/**
exclude .travis/**
exclude bug_fixes/**
exclude build_utils/*
exclude *.yml
exclude .git*
exclude .coveragerc
exclude .zenodo.json
exclude tox*
exclude .pre-commit-config.yaml
exclude .deepsource.toml
exclude help/**
exclude docs/**
exclude images/**
exclude launcher.spec
exclude **/.coverage
exclude .azure-pipelines/**
exclude dist/*
exclude .mdlrc
exclude examples/**
recursive-include package *.pyi
exclude dist/**
exclude dist/**.swp
exclude cliff.toml
exclude runtime.txt
exclude .sourcery.yaml
exclude survey_url.txt
