global-include *.pyx
global-include *.pxd
include package/PartSegCore/sprawl_utils/*.h
include package/PartSegCore/multiscale_opening/*.h
include Readme.md
include changelog.md
include pyproject.toml
include lgpl-3.0.txt
include requirements/*
include pytest.ini
recursive-include package *.py
include package/tests/test_data/*.json
exclude .tox/**
exclude .dependabot/*
exclude .github/**
exclude tutorials/**
exclude .travis/**
exclude bug_fixes/**
exclude build_utils/*
exclude *.yml
exclude .git*
exclude .coveragerc
exclude .zenodo.json
exclude tox*
exclude .pre-commit-config.yaml
exclude .deepsource.toml
exclude help/**
exclude docs/**
exclude images/**
exclude launcher.spec
exclude **/.coverage
exclude .azure-pipelines/**
exclude dist/*
exclude .mdlrc
