appdirs==1.4.3
attrs==19.1.0
certifi==2019.6.16
Cython==0.29.13
deprecation==2.0.7
et-xmlfile==1.0.1
h5py==2.9.0
jdcal==1.4.1
mpmath==1.1.0
numpy==1.17.0
openpyxl==2.6.2
packaging==19.1
pandas==0.25.0
PartSeg==0.9.3.post2
PartSegData==0.9.4
pyparsing==2.4.2
PyQt5==5.13.0
PyQt5-sip==4.19.18
python-dateutil==2.8.0
pytz==2019.2
QtAwesome==0.6.0
QtPy==1.9.0
scipy==1.3.1
sentry-sdk==0.11.0
SimpleITK==1.2.0
six==1.12.0
sympy==1.4
tifffile==0.15.1
urllib3==1.25.3
xlrd==1.2.0
