appdirs==1.4.3
attrs==19.1.0
czifile==2019.7.2
Cython==0.29.13
et-xmlfile==1.0.1
h5py==2.9.0
imagecodecs-lite==2019.4.20
jdcal==1.4.1
mpmath==1.1.0
numpy==1.17.2
oiffile==2019.1.1
openpyxl==2.6.2
packaging==19.1
pandas==0.25.0
PartSegData==0.9.4
pyparsing==2.4.2
PyQt5==5.13.0
python-dateutil==2.8.0
pytz==2019.2
QtPy==1.9.0
scipy==1.3.1
sentry-sdk==0.12.3
SimpleITK==1.2.0
six==1.12.0
sympy==1.4
tifffile==2019.7.26
urllib3==1.24.2
xlrd==1.2.0
