appdirs==1.4.3
Cython==0.29.14
czifile==2019.7.2
defusedxml==0.6.0
h5py==2.10.0
imagecodecs-lite==2019.4.20
numpy==1.17.3
oiffile==2019.1.1
openpyxl==3.0.3
packaging==19.2
pandas==0.25.3
PartSegData==0.9.4
PyInstaller==3.6
PyQt5==5.13.2
QtPy==1.9.0
scipy==1.3.1
sentry-sdk==0.13.1
SimpleITK==1.2.3
six==1.13.0
sympy==1.4
tifffile==2019.7.26
xlrd==1.2.0

