appdirs==1.4.3
Cython==0.29.16
czifile==2019.7.2
defusedxml==0.6.0
h5py==2.10.0
imagecodecs-lite==2020.1.31
imagecodecs==2020.2.18
numpy==1.18.1
oiffile==2020.1.18
openpyxl==3.0.3  # rq.filter: !=3.0.2
packaging==20.1
pandas==1.0.1
PartSegData==0.9.4
PyInstaller==3.6
PyQt5==5.14.1
QtPy==1.9.0
scipy==1.4.1
sentry-sdk==0.14.2
SimpleITK==1.2.4
six==1.14.0
sympy==1.5.1
tifffile==2020.2.16
xlrd==1.2.0

