appdirs==1.4.3
certifi==2019.6.16
Cython==0.29.12
deprecation==2.0.6
et-xmlfile==1.0.1
h5py==2.9.0
jdcal==1.4.1
mpmath==1.1.0
numpy==1.16.4
openpyxl==2.6.2
packaging==19.0
pandas==0.25.0
PartSegData==0.9
pyparsing==2.4.1
PyQt5==5.13.0
PyQt5-sip==4.19.18
python-dateutil==2.8.0
pytz==2019.1
QtAwesome==0.5.7
QtPy==1.8.0
scipy==1.3.0
sentry-sdk==0.10.2
SimpleITK==1.2.0
six==1.12.0
sympy==1.4
tifffile==0.15.1
urllib3==1.25.3
xlrd==1.2.0
