appdirs
Cython
czifile
dataclasses; python_version < '3.7'
defusedxml
h5py
imagecodecs
napari
numpy
oiffile
openpyxl
packaging
pandas
PartSegData
PyInstaller
PyOpenGL-accelerate
PyQt5
requests
QtPy
scipy
sentry-sdk
SimpleITK
six
sympy
tifffile
xlrd
xlsxwriter
