appdirs
czifile
dataclasses; python_version < '3.7'
dask!=2021.3
defusedxml
h5py
imagecodecs
lxml
mahotas
napari
numpy
oiffile
openpyxl
packaging
pandas
PartSegData
PartSegCore-compiled-backend
PyInstaller!=4.0
PyOpenGL-accelerate
PyQt5
QtPy
requests
scipy
sentry-sdk
SimpleITK!=2.0.0
six
sympy
tifffile
xlrd
xlsxwriter
sphinx!=3.5.0
pydantic!=1.8
