appdirs
Cython
czifile
defusedxml
h5py
imagecodecs-lite
imagecodecs
numpy
oiffile
openpyxl
packaging
pandas
PartSegData
PyInstaller
PyQt5
requests
QtPy
scipy
sentry-sdk
SimpleITK
six
sympy
tifffile
xlrd