parameters:
- name: test_path # name of the parameter; required
  type: string # data type of the parameter; required
- name: cache_dir # name of the parameter; required
  type: string

steps:
  - {task: UsePythonVersion@0, inputs: {versionSpec: '3.11', architecture: x64}}
  - template: pip_cache.yaml
    parameters:
      key: pyinstaller | requirements/constraints_py3.9.txt | "$(Agent.OS)" | "$(PY)"
      path:  ${{ parameters.cache_dir }}
  - bash: |
      python -m pip install -U pip wheel setuptools
    displayName: install libs
  - bash: python -m pip install .[pyinstaller] -c requirements/constraints_py3.11.txt
    displayName: install partseg
  - bash: |
      python  build_utils/create_and_pack_executable.py --no-simple-zip
    displayName: build

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: dist2
      publishLocation: pipeline
  - script: ${{ parameters.test_path }}
    displayName: TestBuild
