on:
  pull_request_target:
    branches:
      - main
      - master
      - develop

  push:
    branches:
    - main
    - master
    - develop
name: Semgrep
jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: returntocorp/semgrep-action@v1
      with:
        auditOn: push
        publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
        publishDeployment: 420
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
