name: Upgrade dependencies

on:
  workflow_dispatch: # Allow running on-demand
  schedule:
    # Runs every Monday at 8:00 UTC (4:00 Eastern)
    - cron: '0 8 * * 1'

jobs:
  upgrade:
    name: Upgrade & Open Pull Request
    runs-on: ubuntu-latest
    env:
      # This branch will receive updates each time the workflow runs
      # It doesn't matter if it's deleted when merged, it'll be re-created
      BRANCH_NAME: auto-dependency-upgrades
    steps:
      - uses: actions/checkout@v4
        with:
          # [Optional] Use a separate key to automatically execute checks on the resulting PR
          # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      # START PYTHON DEPENDENCIES
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: pip
          cache-dependency-path: 'setup.cfg'
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: pip
          cache-dependency-path: 'setup.cfg'
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: 'setup.cfg'
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: 'setup.cfg'
      - name: Upgrade Python dependencies
        # ADD YOUR CUSTOM DEPENDENCY UPGRADE COMMANDS BELOW
        run: |
          set -x
          flags="--extra pyqt5 --extra pyqt6 --extra pyside2 --extra pyside6"
          flags+=" --extra test --extra pyinstaller --allow-unsafe --strip-extras --resolver=backtracking"

          for pyv in 3.8 3.9 3.10 3.11; do
            python${pyv}  -m pip install -U pip pip-tools
            python${pyv}  -m piptools compile --upgrade -o requirements/constraints_py${pyv}.txt  setup.cfg requirements/version_denylist.txt ${flags}
          done
      # END PYTHON DEPENDENCIES

      - name: Check updated packages
        id: packages
        run: |
          python build_utils/check_updated_packages.py --main-packages
          python build_utils/check_updated_packages.py
          echo "main_packages=$(python build_utils/check_updated_packages.py --main-packages)" >> $GITHUB_OUTPUT
          echo "all_packages<<EOF" >> $GITHUB_OUTPUT
          echo "$(python build_utils/check_updated_packages.py)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create PR updating vendored modules
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: Update bundle dependencies.
          branch: ${{ env.BRANCH_NAME }}
          delete-branch: true
          title: "test: [Automatic] Constraints upgrades: ${{ steps.packages.outputs.main_packages }}"
          body: |
            This PR is automatically created and updated by PartSeg GitHub
            action cron to keep bundle dependencies modules up to date.

            The updated packages are:

            ${{ steps.packages.outputs.all_packages }}
          token: ${{ secrets.GHA_TOKEN }}
